{% load humanize %}
{% load l10n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

  <script>
    updateableSettings = {
      timeout: 1000,
      callback: function() {
        console.log(this);
    }};
  </script>

</body>
</html>




<!-- common libraries. required for every page-->
<!-- common libraries. required for every page-->
<script src="{% static "vendor/jquery/dist/jquery.min.js"%}"></script>
<script src="{% static "vendor/jquery-pjax/jquery.pjax.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/transition.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/button.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/alert.js"%}"></script>
<script src="{% static "vendor/slimScroll/jquery.slimscroll.min.js"%}"></script>
<script src="{% static "vendor/widgster/widgster.js"%}"></script>
<script src="{% static "vendor/pace.js/pace.min.js"%}"></script>
<script src="{% static "vendor/jquery-touchswipe/jquery.touchSwipe.js"%}"></script>

<!-- common app js -->
<script src="{% static "js/settings.js"%}"></script>
<script src="{% static "js/app.js"%}"></script>

<!-- page specific libs -->
<script src="{% static "vendor/underscore/underscore.js"%}"></script>
<script src="{% static "vendor/jquery.sparkline/index.js"%}"></script>
<script src="{% static "vendor/d3/d3.min.js"%}"></script>

<script src="{% static "vendor/raphael/raphael-min.js"%}"></script>
<script src="{% static "vendor/jQuery-Mapael/js/jquery.mapael.js"%}"></script>
<script src="{% static "vendor/flot/jquery.flot.js"%}"></script>
<script src="{% static "vendor/MetroJS/release/MetroJs.Full/MetroJs.js"%}"></script>
<script src="{% static "vendor/skycons/skycons.js"%}"></script>

<!-- page specific js -->
<script src="{% static "demo/js/_fake-world-data.js"%}"></script>
<script src="{% static "js/widgets.js"%}"></script>



<script>
updateableSettings = {
  timeout: 100000,
  callback: function() {
    console.log(this);
}};
</script>

<script src='{% static 'updateable.js' %}'></script>


