{% load humanize %}
{% load l10n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CDR-port - Dashboard</title>
    <link href="{% static "css/application.min.css"%}" rel="stylesheet">
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="css/application-ie9-part2.css" rel="stylesheet">
    <![endif]-->
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>
<body>
<!--
  Main sidebar seen on the left. may be static or collapsing depending on selected state.

    * Collapsing - navigation automatically collapse when mouse leaves it and expand when enters.
    * Static - stays always open.
-->
<nav id="sidebar" class="sidebar" role="navigation">
    <!-- need this .js class to initiate slimscroll -->
    <div class="js-sidebar-content">
        <header class="logo hidden-xs">
            <a href="{% url 'index'%}">CDR-port</a>
        </header>
        <!-- main notification links are placed inside of .sidebar-nav -->
        <ul class="sidebar-nav">
            <li class="active">
                <!-- an example of nested submenu. basic bootstrap collapse component -->
                <a href="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                    CDR
                    <i class="toggle fa fa-angle-down"></i>
                </a>
                <ul id="sidebar-dashboard" class="collapse in">
                    <li class="active"><a href="{% url 'index'%}">Dashboard</a></li>
                    <li><a href="{% url 'consulta'%}">CDR</a></li>
                </ul>
            </li>
        </ul>
        <!-- every .sidebar-nav may have a title -->
        {% if info == "1"  %}

       <!--
        <h5 class="sidebar-nav-title">Premium<a class="action-link" href="#"><i class="glyphicon glyphicon-usd"></i></a></h5>
            <ul class="sidebar-nav">
                <li>
                    
                    <a class="collapsed" href="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                        <span class="icon">
                            <i class="glyphicon glyphicon-retweet"></i>
                        </span>
                        Portabilidade
                        <i class="toggle fa fa-angle-down"></i>
                    </a>
                    <ul id="sidebar-forms" class="collapse">
                        <li><a href="{% url 'error'%}">Resumo</a></li>
                        <li><a href="{% url 'error'%}">errors</a></li>
                    </ul>
                </li>
                <li>
                    <a class="collapsed" href="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                        <span class="icon">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </span>
                        PABX
                        <i class="toggle fa fa-angle-down"></i>
                    </a>
                    <ul id="sidebar-ui" class="collapse">
                        <li><a href="{% url 'error'%}">Ramais</a></li>
                        <li><a href="{% url 'error'%}">Extensões</a></li>
                        <li><a href="{% url 'error'%}">Troncos</a></li>
                        <li><a href="{% url 'error'%}">URA</a></li>
                        <li><a href="{% url 'error'%}">Filas</a></li>
                    </ul>
                </li>       
            </ul>
        -->
        {% elif info == "2" or "3" %}
        <!--
        <h5 class="sidebar-nav-title">Premium<a class="action-link" href="#"><i class="glyphicon glyphicon-usd"></i></a></h5>         
            <ul class="sidebar-nav">
                <li>
                    
                    <a class="collapsed" href="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                        <span class="icon">
                            <i class="glyphicon glyphicon-retweet"></i>
                        </span>
                        Portabilidade
                        <i class="toggle fa fa-angle-down"></i>
                    </a>
                    <ul id="sidebar-forms" class="collapse">
                        <li><a href="{% url 'index'%}">Resumo</a></li>
                        <li><a href="{% url 'index'%}">Consultas</a></li>
                    </ul>
                </li>
                
                <li>
                    <a class="collapsed" href="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                        <span class="icon">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </span>
                        PABX
                        <i class="toggle fa fa-angle-down"></i>
                    </a>
                    <ul id="sidebar-ui" class="collapse">
                        <li><a href="{% url 'index'%}">Ramais</a></li>
                        <li><a href="{% url 'index'%}">Extensões</a></li>
                        <li><a href="{% url 'index'%}">Troncos</a></li>
                        <li><a href="{% url 'index'%}">URA</a></li>
                        <li><a href="{% url 'index'%}">Filas</a></li>
                    </ul>
                </li>       
               
            </ul>
         -->
        {% endif %}  
        <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->

    </div>
</nav>
<!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
<nav class="page-controls navbar navbar-default">
    <div class="container-fluid">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                    <a class="hidden-sm hidden-xs" id="nav-state-toggle" href="#" title="Turn on/off sidebar collapsing" data-placement="bottom">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <!-- shown on xs & sm screen. collapses and expands navigation -->
                    <a class="visible-sm visible-xs" id="nav-collapse-toggle" href="#" title="Show/hide sidebar" data-placement="bottom">
                        <span class="rounded rounded-lg bg-gray text-white visible-xs"><i class="fa fa-bars fa-lg"></i></span>
                        <i class="fa fa-bars fa-lg hidden-xs"></i>
                    </a>
                </li>
                <li class="ml-sm mr-n-xs hidden-xs"><a onclick="reload_page()"><i class="fa fa-refresh fa-lg"></i></a></li>
                <li class="ml-n-xs hidden-xs"><a href="#"><i class="fa fa-times fa-lg"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right visible-xs">
                <li>
                    <!-- toggles chat -->
                    <a href="#" data-toggle="chat-sidebar">
                        <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
                    </a>
                </li>
            </ul>
            <!-- xs & sm screen logo -->
            <a class="navbar-brand visible-xs" href="{% url 'index'%}">
                <i class="fa fa-circle text-gray mr-n-sm"></i>
                <i class="fa fa-circle text-warning"></i>
                &nbsp;
                CDR-port
                &nbsp;
                <i class="fa fa-circle text-warning mr-n-sm"></i>
                <i class="fa fa-circle text-gray"></i>
            </a>
        </div>

        <!-- this part is hidden for xs screens -->
        <div class="collapse navbar-collapse">
            <!-- search form! link it to your search server -->
            <form class="navbar-form navbar-left" role="search">

            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-toggle-notifications" id="notifications-dropdown-toggle" data-toggle="dropdown">
                        &nbsp;
                        CDR-port <strong>        
                    {% if info == "1"  %}
                        Free</strong>
                    {% elif info == "2"   %}
                        Professional</strong>
                    {% elif info == "3"   %}
                        Premium</strong>
                    {% endif %}                            
                        </strong>&nbsp;
                    <div class="dropdown-menu animated fadeInUp" id="notifications-dropdown-menu">
                        <section class="panel notifications">
                            <!-- notification list with .thin-scroll which styles scrollbar for webkit -->
                            <div id="notifications-list" class="list-group thin-scroll">

                                <a class="list-group-item" href="#">
                                </a>
                            </div>

                        </section>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        
            {% block content %}
            <h1 class="page-title">Dashboard <small><small>The Lucky One</small></small></h1>
            {% endblock %}
    </main>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- common libraries. required for every page-->
<script src="{% static "vendor/jquery/dist/jquery.min.js"%}"></script>
<script src="{% static "vendor/jquery-pjax/jquery.pjax.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/transition.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/button.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"%}"></script>
<script src="{% static "vendor/bootstrap-sass/assets/javascripts/bootstrap/alert.js"%}"></script>
<script src="{% static "vendor/slimScroll/jquery.slimscroll.min.js"%}"></script>
<script src="{% static "vendor/widgster/widgster.js"%}"></script>
<script src="{% static "vendor/pace.js/pace.min.js"%}"></script>
<script src="{% static "vendor/jquery-touchswipe/jquery.touchSwipe.js"%}"></script>
<script src="{% static "vendor/jquery-touchswipe/jquery.touchSwipe.js"%}"></script>
<script src="{% static "js/settings.js"%}"></script>
<script src="{% static "js/app.js"%}"></script>



{% block scripts %}{% endblock %}



</body>
</html>